{% extends 'registration/base.html' %}

{% block title%}Login{% endblock %}


{% block content %}
<!--<form action="{% url 'login' %}" method="post">-->
<!--    {{form.as_p}}-->
<!--    {% if error %}-->
<!--    <p>{{ error }}</p>-->
<!--    {% endif %}-->
<!--    {% csrf_token %}-->
<!--<button>sign in</button>-->
<!--</form>-->



<div class="login-form">
  <form action="{% url 'login' %}" method="post">
      {%csrf_token%}
    <h1>Login</h1>
    <div class="content">
      <div class="input-field">
        <input type="text" name="username" placeholder="Логин">
      </div>
      <div class="input-field">
        <input type="password" name="password" placeholder="Пароль">
      </div>
      <a href="#" class="link">Забыли пароль?</a> | <a href="{% url 'registration' %}" class="link">Зарегистрироваться</a>
    </div>
    <div class="action">
      <button>Войти</button>
    </div>
      {% if error %}
      <p>{{error}}</p>
      {%endif%}
  </form>
</div>


<!--  <form action="{% url 'login' %}" method="post">-->
<!--      {%csrf_token%}-->
<!--      <input type="text" name="username" placeholder="login">-->
<!--      <input type="password" name="password" placeholder="Password">-->
<!--      <button type="submit">Sign in</button>-->

<!--      {% if error %}-->
<!--      <p>{{error}}</p>-->
<!--      {%endif%}-->
<!--  </form>-->


{% endblock %}
